@import 'bootstrap/dist/css/bootstrap.min.css';


@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
*{ box-sizing:border-box}

*:before,
*:after {
	box-sizing:inherit;
}
body{
  font-family: 'Playball', cursive, sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-size: 25px;
  background-color: black;
}
nav a:hover{
  position:sticky;
  top:0;
  background-color:ghostwhite;
  z-index: 1;
  border-style: double;
  text-align:center;
  font-size: 40px; 
  margin-bottom: 30px;
}

.projects-container{
  display:flex;
  justify-content:space-around;
  flex-basis: 33%;
  flex-wrap: wrap;
  margin: 0;
  flex-direction: row;

}
.projects{
  display:flex;
  margin: auto;
  flex-wrap: wrap;
  flex-direction:row;
  align-items: center;
}
.photo{
  height: 300px;
  width:300px;
  border-radius: 70%;
}


