@import 'bootstrap/dist/css/bootstrap.min.css';


@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
*{ box-sizing:border-box}

*:before,
*:after {
	box-sizing:inherit;
}
body{
  font-family: 'Playball', cursive, sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-size: 25px;
  background-color: ;
}
nav a:hover{
  position:sticky;
  top:0;
  background-color:ghostwhite;
  z-index: 1;
  border-style: double;
  text-align:center;
  font-size: 40px; 
  margin-bottom: 30px;
}
ul{
  list-style: none;
  font-size: 15px;
  text-align: justify;
}
.skills{
  margin:0 auto;
}

.projects-container{
  display:flex;
  justify-content:space-around;
  flex-basis: 33%;
  flex-wrap: wrap;
  margin: 0;
  flex-direction: row;

}
.projects{
  display:flex;
  margin: auto;
  flex-wrap: wrap;
  flex-direction:row;
  margin-top: 5rem;
  border-radius: 20%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}
.projects img{
  border-radius: 20%;
}

.photo{
  margin-top: 4rem;
  height: 300px;
  width:300px;
  border-radius: 70%;
}
.contact-container{
  display:flex;
  justify-content:space-around;
  flex-basis: 33%;
  flex-wrap: wrap;
  margin: 0;
  flex-direction: row;
  margin-top: 6rem;
}
